RCS
CVS
SCCS
,v
.svn
.git
_darcs
.cvsignore
Descrip.MMS
DESCRIP.MMS
descrip.mms
MANIFEST
MANIFEST.bak
Makefile
blib
MakeMaker-*
pm_to_blib.ts
pm_to_blib
blibdirs.ts
Build
_build
Build.bat
Build.COM
BUILD.COM
build.com
*~
*.old
*#
*.#
*.bak
*.tmp
*.rej
.DS_Store
._*
cover_db
covered
META.yml
MYMETA.yml
SIGNATURE
Games-FrozenBubble*
lib/Games/FrozenBubble/CStuff.c
lib/Games/FrozenBubble/CStuff.o
bin/fb-server
server/fb_server.c
server/net.c
