VERSION
c_stuff/Makefile_c
c_stuff/blib/
c_stuff/fb-installroot/
c_stuff/fb_c_stuff.bs
c_stuff/fb_c_stuff.c
c_stuff/fb_c_stuff.o
c_stuff/lib/fb_config.pm
c_stuff/pm_to_blib
c_stuff/s/
fb-installroot/
po/af.mo
po/bg.mo
po/br.mo
po/ca.mo
po/cs.mo
po/da.mo
po/de.mo
po/el.mo
po/eo.mo
po/es.mo
po/fa.mo
po/fb-installroot/
po/fi.mo
po/fr.mo
po/gl.mo
po/it.mo
po/ja.mo
po/lt.mo
po/nb.mo
po/ne.mo
po/nl.mo
po/nn.mo
po/pl.mo
po/pt.mo
po/pt_BR.mo
po/ro.mo
po/ru.mo
po/sk.mo
po/sl.mo
po/sv.mo
po/tr.mo
po/zh_CN.mo
.svn
inc/
